<h3>Todo list</h3>
<ul class="list-group mt-2">
    <li class="list-group-item" *ngFor="let item of todoItems">
<div class="row">
    <div class="col-9">
        {{item}}
    </div>
    <div class="col-3 text-right">
        <button  color="primary"mat-fab  aria-label="Example icon button with a delete icon"><mat-icon aria-hidden="false" class="mIcons" aria-label="Example edit icon" fontIcon="edit"></mat-icon></button>

        
        <button color="primary" mat-fab  aria-label="Example icon button with a delete icon"><mat-icon aria-hidden="false" class="mIcons" aria-label="Example delete icon" fontIcon="delete"></mat-icon></button>     
    </div>
</div>
    </li>
</ul>
